.github-notification-snoozer-ignored {
  display: none;
}

.notifications-list {
  display: none;
}

.mail-status {
  opacity: 0;
}

.mail-status.unread.gns-unread-ignored {
  background: #ccc !important;
}

.notification-indicator:hover .mail-status.unread.gns-unread-ignored {
  background: #ccc !important;
}

.notifications.gms-ignored .notifications-more>a {
  color: #ccc !important;
  cursor: pointer;
}

.gms-hidden {
  display: none;
}
